.bgImage1 {
    background-image: url('../../../assets/images/bg-img/bg-2.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order button {
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    padding: 8px;
    width: 55%;
    border-radius: 5px;
    color: var(--bgColor);
}

select:focus,
input:focus,
textarea:focus {
    outline: #B88E2F !important;
    box-shadow: 2px 2px 2px 2px rgba(184, 142, 47, 0.5) !important;
    border-color: #B88E2F !important;
}

.product {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.link1 {
    font-weight: 700;
    color: #B88E2F;
}

.order button:hover {
    background-color: #B88E2F !important;
    color: var(--bgColor) !important;
}