.bgImage1{
    background-image: url('../../../../assets/images/bg-img/bg-2.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}