.heading tr th {
    background-color: #F9F1E7;
}

.productName {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    text-align: center; 
}
  
.trash{
    color: #B88E2F;

}
 
  
  
  